// {{ generated_by }}
package {{ enum.module|jpackage}};

{% if enum.doc %}
/** {{ enum.doc }} */
{% endif %}
public enum {{ enum.name }} {
{{ "    " }}{% for value in enum.values -%}
    {{ value.name }}{% if not loop.last and loop.length > 1 %}, {% endif %}
    {%- endfor %};

    public static final io.pdef.descriptors.EnumDescriptor<{{ enum.name }}> DESCRIPTOR =
            io.pdef.descriptors.EnumDescriptor.of({{ enum.name }}.class);

    /** Returns an enum value from a string or {@literal null}. */
    public static {{ enum.name }} fromString(final String s) {
        return io.pdef.formats.ObjectFormat.getInstance().fromObject(s, DESCRIPTOR);
    }

    /** Returns an enum value from a json string or {@literal null}. */
    public static {{ enum.name }} fromJson(final String s) {
        return io.pdef.formats.JsonFormat.getInstance().fromJson(s, DESCRIPTOR);
    }

    public String toJson() {
        return io.pdef.formats.JsonFormat.getInstance().toJson(this, DESCRIPTOR, false);
    }
}

