// {{ generated_by }}
package {{ interface.module|jpackage }};


{% if interface.doc %}
/** {{ interface.doc }} */
{% endif %}
{% if not interface.base -%}
    public interface {{ interface.name }} {
{% else -%}
    public interface {{ interface.name }} extends {{ interface.base|jref }} {
{% endif %}

{% for method in interface.declared_methods %}
    {% if method.doc %}
    /** {{ method.doc|indent(4) }} */
    {% endif %}
    {{ method.result|jref }} {{ method.name }}(
        {%- for arg in method.args -%}
                {{ arg.type|jref }} {{ arg.name }}
                {%- if loop.length > 1 and not loop.last %}, {% endif %}
        {%- endfor %});

{% endfor %}
    static io.pdef.descriptors.InterfaceDescriptor<{{ interface.name }}> DESCRIPTOR = io.pdef.descriptors.InterfaceDescriptor.<{{ interface.name }}>builder()
            .setJavaClass({{ interface.name }}.class)
        {% if interface.exc %}
            .setExc({{ interface.exc|jdescriptor }})
        {% endif %}
        {% for method in interface.declared_methods %}
            .addMethod(io.pdef.descriptors.MethodDescriptor.<{{ interface.name }}, {{ method.result|jref }}>builder()
                    .setName("{{ method.name }}")
                    .setReflexiveInvoker({{ interface.name }}.class)
                {% if method.result.is_interface %}
                    .setInterfaceResult({{ method.result|jref }}.class)
                {% else %}
                    .setResult({{ method.result|jdescriptor }})
                {% endif %}
                {% if interface.exc %}
                    .setExc({{ interface.exc|jdescriptor }})
                {% endif %}
                {% for arg in method.args %}
                    .addArg("{{ arg.name }}", {{ arg.type|jdescriptor }}, {{ arg.is_query|jbool }}, {{ arg.is_post|jbool }})
                {% endfor %}
                {% if method.is_post %}
                    .setPost(true)
                {% endif %}
                    .build())
        {% endfor %}
            .build();
}

