// {{ generated_by }}
package {{ message.module|jpackage }};


{% if message.doc %}
/** {{ message.doc }} */
{% endif %}
public class {{ message.name }} extends {{ message|jmessage_base }} {
    {% for field in message.declared_fields %}
    private {{ field.type|jref }} {{ field.name }};
    {% endfor %}

{% if message.discriminator_value %}
    public {{ message.name }}() {
        this.{{ message.discriminator|jfield_set }}({{ message.discriminator_value|jref }});
    }
{% else %}
    public {{ message.name }}() {}
{% endif %}

    public {{ message.name }}(final {{ message.name }} another) {
        super(another);
    {% for field in message.declared_fields if not field.is_discriminator %}
        {% if field.type.is_collection or field.type.is_message %}
        this.{{ field.name }} = io.pdef.DataTypes.copy(another.{{ field.name }});
        {% else %}
        this.{{ field.name }} = another.{{ field.name }};
        {% endif %}
    {% endfor %}
    }

    public static {{ message.name }} fromMap(final java.util.Map<String, Object> map) {
        return io.pdef.formats.ObjectFormat.getInstance().fromObject(map, DESCRIPTOR);
    }

    public static {{ message.name }} fromJson(final String s) {
        return io.pdef.formats.JsonFormat.getInstance().fromJson(s, DESCRIPTOR);
    }

{% for field in message.declared_fields %}
    // {{ field.name }}
    public {{ field.type|jref_unboxed }} {{ field|jfield_get }}() {
    {% if field.type.is_collection or field.type.is_message %}
        return {{ field.name }} != null ? {{ field.name }} : ({{ field.name }} = {{ field.type|jdefault }});
    {% else %}
        return {{ field.name }} != null ? {{ field.name }} : {{ field.type|jdefault }};
    {% endif %}
    }

    public {{ message.name }} {{ field|jfield_set }}(final {{ field.type|jref_unboxed }} value) {
        this.{{ field.name }} = value;
        return this;
    }

    public boolean {{ field|jfield_has }}() {
        return {{ field.name }} != null;
    }

    public {{ message.name }} {{ field|jfield_clear }}() {
        this.{{ field.name }} = null;
        return this;
    }

{% endfor %}
{% for field in message.inherited_fields %}
    // {{ field.name }}
    @Override
    public {{ message.name }} {{ field|jfield_set }}(final {{ field.type|jref_unboxed }} value) {
        super.{{ field|jfield_set }}(value);
        return this;
    }

    @Override
    public {{ message.name }} {{ field|jfield_clear }}() {
        super.{{ field|jfield_clear }}();
        return this;
    }

{% endfor %}
    @Override
    public {{ message.name }} copy() {
        return new {{ message.name }}(this);
    }

    @Override
	public {{ message.name }} merge(final io.pdef.Message message) {
		super.merge(message);
		if (!(message instanceof {{ message.name }})) return this;

		{{ message.name }} another = ({{ message.name }}) message;
    {% for field in message.declared_fields %}
        {% if field.type.is_collection or field.type.is_message %}
        if (another.{{ field.name }} != null) this.{{ field.name }} = io.pdef.DataTypes.copy(another.{{ field.name }});
        {% else %}
        if (another.{{ field.name }} != null) this.{{ field.name }} = another.{{ field.name }};
        {% endif %}
    {% endfor %}

        return this;
	}

    @Override
    public io.pdef.descriptors.MessageDescriptor<? extends {{ message.name }}> descriptor() {
        return DESCRIPTOR;
    }

    public static final io.pdef.descriptors.MessageDescriptor<{{ message.name }}> DESCRIPTOR = io.pdef.descriptors.MessageDescriptor.<{{ message.name }}>builder()
            .setJavaClass({{ message.name }}.class)
            .setProvider(new io.pdef.Provider<{{ message.name }}>() {
                public {{ message.name }} get() {
                    return new {{ message.name }}();
                }
            })
            {% if message.base %}
            .setBase({{ message.base|jdescriptor }})
            {% endif %}
            {% if message.discriminator_value %}
            .setDiscriminatorValue({{ message.discriminator_value|jref }})
            {% endif %}
            {% for subtype in message.subtypes %}
            .addSubtype(new io.pdef.Provider<io.pdef.descriptors.MessageDescriptor<? extends {{ message.name }}>>() {
                public io.pdef.descriptors.MessageDescriptor<? extends {{ message.name }}> get() {
                    return {{ subtype|jdescriptor }};
                }
            })
            {% endfor %}
            {% for field in message.declared_fields %}
            .addField(io.pdef.descriptors.FieldDescriptor.<{{ message.name }}, {{ field.type|jref }}>builder()
                    .setName("{{ field.name }}")
                {% if field.is_discriminator %}
                    .setDiscriminator(true)
                {% endif %}
                {% if field.type.is_primitive %}
                    .setType({{ field.type|jdescriptor }})
                {% else %}
                    .setType(new io.pdef.Provider<io.pdef.descriptors.DataTypeDescriptor<{{ field.type|jref }}>>() {
                        public io.pdef.descriptors.DataTypeDescriptor<{{ field.type|jref }}> get() {
                            return {{ field.type|jdescriptor }};
                        }
                    })
                {% endif %}
                    .setAccessor(new io.pdef.descriptors.FieldAccessor<{{ message.name }}, {{ field.type|jref }}>() {
                        public {{ field.type|jref }} get({{ message.name }} message) {
                            return message.{{ field.name }};
                        }

                        public void set({{ message.name }} message, {{ field.type|jref }} value) {
                            message.{{ field.name }} = value;
                        }
                    })
                    .build())
            {% endfor %}
            .build();
}

